# requirements.txt
fastapi
uvicorn
requests
pydantic>=2.0
pypdf
python-dotenv

# --- RAG და LangChain ბიბლიოთეკები ---
# LangChain-ის ძირითადი ინსტრუმენტები
langchain-core
langchain-community
langchain-google-genai

# ტექსტის დამუშავება (ingest.py-სთვის)
langchain-text-splitters 
python-multipart 

# --- ვექტორული ბაზა ---
chromadb
